.feed-container {
    margin-top: 5em;
}
.feed-title {
    font-size: 3.5em;
    font-weight: 500;
    margin-bottom: 1em;
}
.feed-table {
    margin: auto;
    border-spacing: 2em 2em;
    border-collapse: collapse;
}
.table-title {
    padding-left: 4em;
}