.statbox {
    border: 1px solid black;
    margin: 0.5em;
    border-radius: 1em;
}
.stat_header {
    padding-top: 1em;
    text-align: center;
    font-weight: bold;
}
.stat_number {
    padding: 0.5em;
    font-size: 3em;
    font-weight: bold;
    text-align: center;
}