@import '../stylesheets/variables';

.view-container {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin-left: 10em;
    margin-right: 10em;
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: 0.2fr 0.3fr 0.5fr;
    grid-template-rows: 1fr;
}

.view-container:hover {
    background-color: rgba($event-hover, 0.5);
    cursor: pointer;
}

.technical-stat {
    font-family: monospace;
}